@font-face {
  font-family:BebasNeue;
  src: url('./assets/fonts/BebasNeue-Regular.otf')
}

body{
  width:100vw;
  height:100vh;
  background-color: #111111;
  font-size:150%;
  color:#D6DBDF;
  font-family: 'Orbitron', sans-serif;
  background-color:#1f2527;
  color:#fff;
  overflow-x:hidden;
}
.page{
  //color:#0E1314;
  display: none;
  margin-left: 20vw;
  text-align:center;
  width:60vw;
  height:100vh;
  //border:10px #C7C3C9 solid;
  border-radius:2.5vmin;
  /* /background-color:#D5D1D8; */
}

#header h1{
  display:inline-block;
}


#header h3{
  display:inline-block;
  margin-left:2vw;
}

.menuItem{
  width:30%;
  display:inline-block;
}

.menuItem > span{
  font-size:15vw;
}

#sampleDatsets{
  position:absolute;
  left:0px;
  width:100vw;
  text-align: center;
  color:#1f2527;
}

.sampleDatasetItem{
  width:12%;
  margin-left:0.5vw;
  margin-right:0.5vw;
  display:inline-block;
  background-color: #D6DBDF;
  padding:10px;
  border-radius: 1vmin;
  border: 5px #777 solid;
  height:20vh;
  vertical-align:middle;
  cursor:pointer;
}

.sampleDatasetItem:hover{
  background-color:#fff;
}

.sampleDatasetItem > img{
  width:80%;
  border-radius: 2vmin;
}

.chartBox{
  margin-bottom:10vh;
}

#drop-area{
  border:10px #777 dashed;
  height:35vh;
  width:50vw;
  border-radius:2.5vmin;
  margin-left:5vw;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color:#D5D1D8;
  border:1px black solid;
  color:#0E1314;
}

th, td {
  text-align: left;
  padding: 8px;
  border:1px black solid;
  color:#0E1314;
}

th{
  background-color:#111;
  color:#D6DBDF;

}

tr:nth-child(even) {background-color: #ccc;}


#charts div{
  margin-bottom:10vh;
}
